button {
    min-width: 100px;
    min-height: 34px;

    border: 1px solid;
    border-radius: 3px;

    background-color: #fff;
    color: #000;

    cursor: pointer;
}

button:hover {
    outline: 1px solid #fff;
    outline-offset: -3px;

    background-color: #000;
    color: #fff;
}
