.hide {
    display: none;
}

.preventTextSelection {
    /* Safari */
    -webkit-user-select: none;
    /* IE 10 and IE 11 */
    -ms-user-select: none;
    /* Standard syntax */
    user-select: none;

    cursor: pointer;
}

th {
    padding: 3px 0;
    font-size: small;
    font-weight: bold;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

/* search box */
#search-box {
    margin: 18px;
    padding: 3px;

    box-shadow: 0 0 1px #000;
}

#search-box input[name="search"] {
    padding: 6px 12px;
    width: 270px;

    outline: none;
    border: none;
    background-color: #00000006;
}

/* dropdownlist */
select,
select option {
    min-width: 100px;
    min-height: 30px;
    padding: 6px 12px;
}

select+button {
    min-height: 30px;
}

/* pages */
#pages {
    width: 100%;
    height: 100%;

    display: flex;
    position: relative;
    justify-content: center;
}

/* table */
table * svg {
    width: 27px;
    height: 27px;
    margin: 0 9px;
    fill: #fff;
}

table * [type="approve"]:hover svg {
    background-color: #fff;
    fill: green;
}

table * [type="reject"]:hover svg {
    background-color: #fff;
    fill: red;
}

.btn {
    position: relative;
}

.btn::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 12px;
    width: 21px;
    height: 21px;
    z-index: -1;
}

.btn[type="approve"]:before {
    background-color: green;
}

.btn[type="reject"]:before {
    background-color: red;
}

/* stats */
#stats {
    width: fit-content;
    height: auto;

    display: flex;
    flex-direction: column;

    align-items: center;

    /* background-color: thistle; */
    gap: 9px;

    padding: 9px 18px 0px;
}

#stats * [data-clickable-id] {
    font-size: small;
    font-weight: bold;

    background-color: #00000018;
}

#stats * th,
#stats * td {
    width: fit-content;
    min-width: 100px;
    text-align: center;
    font-weight: lighter;
}

#stats * th {
    font-weight: bold;
}

#stats * td:nth-of-type(1) {
    text-align: left;
}


/* info */
#info {
    width: 90%;
    align-self: center;
}
